<div class="hookbottom"
>
  <br />
  <ul class="social">
    <li class="facebook">
      <a
        target="_blank"
        href="https://www.facebook.com/CIFP-Elorrieta-Erreka-Mari-LHII-342098554055/"
        title="Facebook"
      >
        <i class="bi bi-facebook"></i>
      </a>
    </li>
    <li class="twitter">
      <a
        target="_blank"
        href="https://twitter.com/cifp_eem_lhii"
        title="Twitter"
      >
        <i class="bi bi-twitter"></i>
      </a>
    </li>
    <li class="youtube">
      <a
        target="_blank"
        href="https://www.youtube.com/channel/UCp6Ifv19b-xVKcfD8ltHXXg"
        title="YouTube"
      >
        <i class="bi bi-youtube"></i>
      </a>
    </li>
    <li class="instagram">
      <a
        target="_blank"
        href="https://www.instagram.com/elorrieta_erreka_mari"
        title="Instagram"
      >
        <i class="bi bi-instagram"></i>
      </a>
    </li>
    <li class="custom">
      <a
        target="_blank"
        href="https://www.google.com/maps/place/CIFP+Elorrieta+Erreka+Mari+LHII/@43.2835719,-2.9673046,17z/data=!3m1!4b1!4m5!3m4!1s0xd4e507052ed4917:0xec69922dea02910b!8m2!3d43.283575!4d-2.9651047"
        title="Ubicación"
      >
        <i class="bi bi-geo-alt"></i>
      </a>
    </li>
    <li class="rss">
      <a target="_blank" href="https://www.elorrieta.eus/es/feed/" title="RSS">
        <i class="bi bi-rss"></i>
      </a>
    </li>
  </ul>
  <br />
</div>
