div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("/logo.jpg");
  background-size: cover;
  background-repeat:space;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

mat-form-field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
}

