<div>
  <h1>{{'login' | translate}}</h1>

  <mat-form-field class="col-12 sm:col-6">
    <mat-label>{{'user' | translate}}</mat-label>
    <input matInput type="text" required [(ngModel)]="Username">
  </mat-form-field>
  <mat-form-field class="col-12 sm:col-6">
    <mat-label>{{'password' | translate}}</mat-label>
    <input matInput type="password" required [(ngModel)]="Pass">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="login()">
    {{'login' | translate}}
  </button>
</div>
