<div class="d-flex justify-content-center align-items-center ">
  <div class="card shadow-sm" style="width: 60rem;">
    <div class="card-header bg-primary text-black text-center">
      <h1>{{ user?.nombre }}</h1>
    </div>
    <div class="card-body">
      <div class="text-center mb-3">
        <img [src]="user | imagen" [alt]="user.argazkia" class="card-img-top rounded-circle w-50">
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre y apellidos</label>
        <p class="form-control">{{ user?.nombre }} {{ user?.apellidos }}</p>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <p class="form-control">{{ user?.username }}</p>
      </div>
      <div class="mb-3">
        <label for="dni" class="form-label">DNI</label>
        <p class="form-control">{{ user?.dni }}</p>
      </div>
      <div class="mb-3">
        <label for="telefono1" class="form-label">Teléfono 1</label>
        <p class="form-control">{{ user?.telefono1 }}</p>
      </div>
      <div class="mb-3">
        <label for="telefono2" class="form-label">Teléfono 2</label>
        <p class="form-control">{{ user?.telefono2 || 'N/A' }}</p>
      </div>
      <div class="mb-3">
        <label for="direccion" class="form-label">Dirección</label>
        <p class="form-control">{{ user?.direccion }}</p>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <p class="form-control">{{ user?.email }}</p>
      </div>
      <div class="mb-3">
        <label for="tipo_id" class="form-label">Tipo de usuario</label>
        <p class="form-control">{{ user.tipo_id === 1 ? 'God' : user.tipo_id === 2 ? ' Admin' : user.tipo_id === 3 ? 'Teacher' : 'Student' }}</p>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button mat-button color="info" (click)="editarUsuario()" class="btn btn-info">Editatu</button>
      <button mat-button color="info" (click)="borrarUsuario()" class="btn btn-danger">Ezabatu</button>
    </div>
  </div>
</div>
