<h1 class="text-center my-4">
  {{bilera?.id_reunion ? 'Editatu' : 'Bilera berria'}}
</h1>
<hr class="mb-4">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6"></div>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 mb-3">
              <label for="asunto" class="form-label">Bileraren deskribapena</label>
              <input id="asunto" class="form-control" type="text" required [(ngModel)]="bilera.asunto">
            </div>
            <div class="col-12 mb-3">
              <label for="aula" class="form-label">Bileraren osagaiak</label>
              <input id="aula" class="form-control" type="text" required [(ngModel)]="bilera.aula">
            </div>
            <div class="col-12 mb-3">
              <label for="fecha" class="form-label">Bileraren prezioa</label>
              <input id="fecha" class="form-control" type="text" required [(ngModel)]="bilera.fecha">
            </div>
            <div class="col-12 mb-3">
              <label for="profesor_id" class="form-label">Foto Url</label>
              <input id="profesor_id" class="form-control" type="url" required [(ngModel)]="bilera.profesor_id">
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary">
              <i class="material-icons">edit</i>
            </button>
            <button *ngIf="bilera.id_reunion" class="btn btn-danger">
              <i class="material-icons">remove</i>
              Borrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

