<mat-card>
	<mat-card-header>
    	<mat-card-title>{{user.nombre}} {{user.apellidos}}</mat-card-title>
	</mat-card-header>
	<img mat-card-image [src]="user |imagen " [alt]="user.argazkia">
	<mat-card-content>
    	<h3>{{user.username}}</h3>
    	<p>
        	<strong>DNI: </strong>{{user.dni}};
        	<br>
          <strong>TELEFONO: </strong>{{user.telefono1}};
        	<br>
          <strong>direccion: </strong>{{user.direccion}};
        	<br>
            	</p>
	</mat-card-content>
	<mat-card-actions>
    <button mat-button color="warn" routerLink="" (click)="mostrarSnackbar(user.nombre + ' aukeratu duzu')">Ikusi gehiago...</button>
    <button mat-button color="info" routerLink="" (click)="mostrarSnackbar(user.nombre + ' aukeratu duzu')">Editatu</button>
	</mat-card-actions>
</mat-card>
