<h1 class="text-center my-4">{{ 'Ordutegia' | translate }}</h1>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th *ngFor="let egun of egunak">{{ egun }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ordu of orduak">
        <td class="font-weight-bold">{{ ordu }}</td>
          <td *ngFor="let egun of egunak">
            {{ getIdioma() === 'es' ? getModulo(egun, ordu)[0]?.Modulo : getModulo(egun, ordu)[0]?.ModuloEu }}


        </td>
      </tr>
    </tbody>
  </table>
</div>
